b2btester-web/src/main/resources/RBE/4.0/PaymentComponents.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:annotation>
		<xsd:documentation xml:lang="pl">
			Standard RBE wersja 4.0			
		</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="CommonTypes.xsd"/>
	<xsd:element name="PaymentIdentifier" type="max35Identifier"/>
	<xsd:element name="PmtCategory" type="PmtCatCode"/>
	<xsd:element name="ExecutionDateRequested" type="Date"/>
	<xsd:element name="DueDate" type="Date"/>
	<xsd:element name="PayorParty" type="Party"/>
	<xsd:element name="PayeeParty" type="Party"/>
	<xsd:element name="PayorAccount" type="Account"/>
	<xsd:element name="PayeeAccount" type="Account"/>
	<xsd:element name="ChargeAccount" type="Account"/>
	<xsd:element name="PayorFinancialInstitution" type="FinancialInstitution"/>
	<xsd:element name="PayeeFinancialInstitution" type="FinancialInstitution"/>
	<xsd:element name="PmtAdditionalInformation" type="max210text"/>
	<xsd:element name="TransactionIdentifier" type="max35Identifier"/>
	<xsd:element name="Responsibility" type="ResponsibilityCode"/>
	<xsd:element name="ImmediatePmt" type="Indicator"/>
	<xsd:element name="OrderedAmount" type="AmountType"/>
	<xsd:element name="CustomerPayeeIdentifier" type="max35Identifier"/>
	<xsd:element name="BankServerPaymentIdentifier" type="max35Identifier"/>
	<xsd:element name="BankTransactionIdentifier" type="max35Identifier"/>
	<xsd:element name="ChargeResponsibility" type="ResponsibilityCode"/>
	<xsd:element name="AdditionalDetails" type="AdditionalDetailsType"/>
	<xsd:element name="RegulatoryReport">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="RegulatoryInformationCoded" type="RegInfoCode" maxOccurs="unbounded"/>
				<xsd:element ref="Description" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RemittanceInformation">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="PmtId" type="max35Identifier" minOccurs="0"/>
				<xsd:choice>
					<xsd:element name="Memo" type="max35text" minOccurs="0" maxOccurs="4"/>
					<xsd:element name="Unstrd" type="max140text" minOccurs="0"/>
					<xsd:element ref="RemittanceDetails" minOccurs="0"/>
					<xsd:element ref="ZUS" minOccurs="0"/>
					<xsd:element ref="US" minOccurs="0"/>
				</xsd:choice>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RemittanceDetails">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="DocumentIdentifier" type="max35Identifier"/>
				<xsd:element name="IssueDate" type="Date" minOccurs="0"/>
				<xsd:element name="PaymentDate" type="Date" minOccurs="0"/>
				<xsd:element name="AmountPaid" type="AmountType" minOccurs="0"/>
				<xsd:element name="AmountDue" type="AmountType" minOccurs="0"/>
				<xsd:element name="DocumentRecipient" type="PartyIdentType" minOccurs="0"/>
				<xsd:element name="DocumentIssuer" type="PartyIdentType" minOccurs="0"/>
				<xsd:element ref="AdjustmentDetails" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AdjustmentDetails">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="AdjustmentReason" type="AdjustmentReasonCode"/>
				<xsd:element name="AdjustmentAmount" type="AmountType"/>
				<xsd:element name="DocumentIdentifier" type="max35Identifier"/>
				<xsd:element ref="Description" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ZUS">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="NIP" type="NIPIdentifier"/>
				<xsd:element name="PayorAdditionalIdentifier" type="ZUSPayorIdentType"/>
				<xsd:element name="PaymentType" type="PmtTypeCode"/>
				<xsd:element name="Declaration" type="DeclarationType"/>
				<xsd:element name="DeclarationNumber" type="ex2num"/>
				<xsd:element name="DecisionNumber" type="max15text"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="US">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="PayorIdentifier" type="PayorIdentType"/>
				<xsd:element name="PaymentFormIdentifier" type="max7Identifier"/>
				<xsd:element name="USDescription" type="max20text"/>
				<xsd:element name="USPaymentPeriod" type="USPeriodType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Charge">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Amount" type="AmountType" minOccurs="0"/>
				<xsd:element name="Reason" type="max70text" minOccurs="0"/>
				<xsd:element name="ChargeOriginator" type="max14text" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PaymentSummaryType">
		<xsd:sequence>
			<xsd:element name="SummaryAmount" type="AmountType"/>
			<xsd:element name="TransactionsQuantity" type="SumQuantity"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="PaymentDocument">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="PaymentHeader"/>
				<xsd:element ref="PaymentLineItem" maxOccurs="unbounded"/>
				<xsd:element name="PaymentSummary" type="PaymentSummaryType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PaymentHeader">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="PaymentIdentifier"/>
				<xsd:element ref="BankServerPaymentIdentifier" minOccurs="0"/>
				<xsd:element ref="PmtCategory" minOccurs="0"/>
				<xsd:choice>
					<xsd:element ref="ExecutionDateRequested" minOccurs="0"/>
					<xsd:element ref="DueDate" minOccurs="0"/>
				</xsd:choice>
				<xsd:element ref="ImmediatePmt" minOccurs="0"/>
				<xsd:element ref="PayorParty" minOccurs="0"/>
				<xsd:element ref="PayorAccount"/>
				<xsd:element ref="ChargeAccount" minOccurs="0"/>
				<xsd:element ref="PayorFinancialInstitution"/>
				<xsd:element ref="PmtAdditionalInformation" minOccurs="0"/>
				<xsd:element ref="ChargeResponsibility" minOccurs="0"/>
				<xsd:element ref="PaymentStatus" minOccurs="0"/>
				<xsd:element ref="PaymentRejectionInfo" minOccurs="0"/>
				<xsd:element ref="AdditionalDetails" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SoldCheque" type="max12Identifier"/>
	<xsd:element name="PaymentLineItem">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="TransactionIdentifier"/>
				<xsd:element ref="BankTransactionIdentifier" minOccurs="0"/>
				<xsd:element ref="OrderedAmount"/>
				<xsd:element ref="DebitAmount" minOccurs="0"/>
				<xsd:element ref="CurrencyConvertor" minOccurs="0"/>
				<xsd:choice>
					<xsd:element ref="CustomerPayeeIdentifier" minOccurs="0"/>
					<xsd:element ref="PayeeParty" minOccurs="0"/>
				</xsd:choice>
				<xsd:element ref="PayeeAccount" minOccurs="0"/>
				<xsd:element ref="PayeeFinancialInstitution"/>
				<xsd:element ref="Charge" minOccurs="0"/>
				<xsd:element ref="RegulatoryReport" minOccurs="0"/>
				<xsd:element ref="RemittanceInformation"/>
				<xsd:element ref="AdditionalDeclaration" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="TransactionStatus" minOccurs="0"/>
				<xsd:element ref="TransactionRejection" minOccurs="0"/>
				<xsd:element ref="SoldCheque" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ResponsibilityCode">
		<xsd:simpleContent>
			<xsd:extension base="ResponsibilityType">
				<xsd:attribute name="CodeListAgency" type="xsd:string" default="SWIFT"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="ResponsibilityType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="OUR"/>
			<xsd:enumeration value="BEN"/>
			<xsd:enumeration value="SHA"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PmtTypeCode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="S"/>
			<xsd:enumeration value="M"/>
			<xsd:enumeration value="U"/>
			<xsd:enumeration value="T"/>
			<xsd:enumeration value="D"/>
			<xsd:enumeration value="E"/>
			<xsd:enumeration value="A"/>
			<xsd:enumeration value="B"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="USPeriodType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{2}[RPKMDJ]([0-9]{2}([0-9]{2})?)?"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="RegInfoCode">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="CodeList" type="RegInfoType" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="RegInfoType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Tytul"/>
			<xsd:enumeration value="Grupa"/>
			<xsd:enumeration value="Kraj"/>
			<xsd:enumeration value="Podmiot"/>
			<xsd:enumeration value="REGON"/>
			<xsd:enumeration value="Charakter beneficjenta"/>
			<xsd:enumeration value="Kod kraju"/>
			<xsd:enumeration value="Kontrola dewizowa"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="AdjustmentReasonCode">
		<xsd:simpleContent>
			<xsd:extension base="AdjustmentReasonType">
				<xsd:attribute name="CodeListAgency" type="xsd:string" fixed="RBE"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="AdjustmentReasonType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Return"/>
			<xsd:enumeration value="Damage"/>
			<xsd:enumeration value="Other"/>
			<xsd:enumeration value="Deduction"/>
			<xsd:enumeration value="Agreed"/>
			<xsd:enumeration value="Discount"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DeclarationType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{4}(([0][1-9])|([1][0-2]))"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ex2num">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="PayorIdentType">
		<xsd:simpleContent>
			<xsd:extension base="max14Identifier">
				<xsd:attribute name="IdentificationSchemeName" type="PayorIdentNameType" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="PayorIdentNameType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="N"/>
			<xsd:enumeration value="R"/>
			<xsd:enumeration value="P"/>
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
			<xsd:enumeration value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ZUSPayorIdentType">
		<xsd:simpleContent>
			<xsd:extension base="max14Identifier">
				<xsd:attribute name="IdentificationSchemeName" type="ZUSPayorIdentNameType" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="ZUSPayorIdentNameType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="N"/>
			<xsd:enumeration value="R"/>
			<xsd:enumeration value="P"/>
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NIPIdentifier">
		<xsd:restriction base="xsd:string">
			<xsd:length value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PmtCatCode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Domestic"/>
			<xsd:enumeration value="International"/>
			<xsd:enumeration value="ZUS"/>
			<xsd:enumeration value="US"/>
			<xsd:enumeration value="SEPA"/>
			<xsd:enumeration value="InternationalCheque"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PmtStatusCode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Scheduled"/>
			<xsd:enumeration value="Processed"/>
			<xsd:enumeration value="FundAcctDebited"/>
			<xsd:enumeration value="Returned"/>
			<xsd:enumeration value="Cancelled"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TrnStatusCode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Scheduled"/>
			<xsd:enumeration value="Queue"/>
			<xsd:enumeration value="Waiting"/>
			<xsd:enumeration value="Processed"/>
			<xsd:enumeration value="FundAcctDebited"/>
			<xsd:enumeration value="Returned"/>
			<xsd:enumeration value="Cancelled"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PmtInfoStatusCode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Scheduled"/>
			<xsd:enumeration value="Sent"/>
			<xsd:enumeration value="Returned"/>
			<xsd:enumeration value="Response"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="TransactionRejectionType">
		<xsd:sequence>
			<xsd:element name="RejectionCode" type="StatusTypeCode"/>
			<xsd:element name="RejectionDescription" type="max210text" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="PaymentRejectionInfo" type="TransactionRejectionType"/>
	<xsd:element name="TransactionRejection" type="TransactionRejectionType"/>
	<xsd:element name="PaymentStatus" type="PaymentStatusType"/>
	<xsd:complexType name="PaymentStatusType">
		<xsd:sequence>
			<xsd:element name="PaymentStatusCode" type="PmtStatusCode"/>
			<xsd:element name="StatusDescription" type="max70text" minOccurs="0"/>
			<xsd:element name="EffectiveDate" type="DateTime" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="TransactionStatus">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="TransactionStatusCode" type="TrnStatusCode"/>
				<xsd:element name="StatusDescription" type="max70text" minOccurs="0"/>
				<xsd:element name="EffectiveDate" type="DateTime" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DebitAmount" type="AmountType"/>
	<xsd:element name="AdditionalDeclaration" type="AdditionalDeclarationType"/>
	<xsd:complexType name="AdditionalDeclarationType">
		<xsd:sequence>
			<xsd:element name="DeclarationItemCode" type="max70text"/>
			<xsd:element name="DeclarationItemValue" type="max210text"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PaymentRefusalDocumentType">
		<xsd:sequence>
			<xsd:element ref="PaymentIdentifier"/>
			<xsd:element ref="BankServerPaymentIdentifier" minOccurs="0"/>
			<xsd:choice>
				<xsd:element ref="PaymentRefusalInfoDetails"/>
				<xsd:element ref="PaymentTransactionList" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="PaymentRefusalSelectionCriteria">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="PaymentIdentifier" type="max35Identifier" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="BankServerPaymentIdentifier" type="max35Identifier" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="TransactionIdentifier" type="max35Identifier" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="BankTransactionIdentifier" type="max35Identifier" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PaymentRefusalStatementType">
		<xsd:sequence>
			<xsd:element ref="TransactionIdentifier"/>
			<xsd:element ref="PaymentRefusalInfoDetails"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="PaymentRefusalInfoDetails">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="BankPaymentRefusalIdentifier" type="max35Identifier" minOccurs="0"/>
				<xsd:element name="InfoCode" type="max4text"/>
				<xsd:element name="InfoDetails" type="max105text" minOccurs="0"/>
				<xsd:element name="Customer" type="Party" minOccurs="0"/>
				<xsd:element name="PaymenttInfoStatusCode" type="PmtInfoStatusCode" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PaymentRefusalResponseDocumentType">
		<xsd:sequence>
			<xsd:element name="BankPaymentRefusalIdentifier" type="max35Identifier"/>
			<xsd:element ref="PaymentRefusalResponseInfoDetails"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="PaymentRefusalResponseInfoDetails">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="BankPaymentRefusalResponseIdentifier" type="max35Identifier" minOccurs="0"/>
				<xsd:element name="RefusalAgreement" type="Indicator"/>
				<xsd:element name="InfoCode" type="max4text" minOccurs="0"/>
				<xsd:element name="AdditionalInfo" type="max105text" minOccurs="0" maxOccurs="2"/>
				<xsd:element name="Customer" type="Party" minOccurs="0"/>
				<xsd:element ref="AdditionalDeclaration" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="PaymenttInfoStatusCode" type="PmtInfoStatusCode" minOccurs="0"/>
				<xsd:element name="ExecutionDate" type="Date" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PaymentTransactionList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="TransactionIdentifier" type="max35Identifier"/>
				<xsd:element name="BankTransactionIdentifier" type="max35Identifier" minOccurs="0"/>
				<xsd:element ref="PaymentRefusalInfoDetails"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
